{{ template "header.html" .}}
<div class="container d-flex align-items-center flex-column"
     style="height:100vh;justify-content: space-evenly;">
  <h2>user details for <strong><em>{{.client.Name}}</em></strong></h2>
  <div class="row mb-3 text-center">
    <div class="col-6 col-sm-4 themed-grid-col">Name : {{.client.Name}}</div>
    <div class="col-6 col-sm-4 themed-grid-col">Email : <a href="mailto:{{.client.Email}}">{{.client.Email}}</a></div>
    <div class="col-6 col-sm-4 themed-grid-col">Phone : <a href="tel:{{.client.Phone}}">{{.client.Phone}}</a></div>
    <div class="col-6 col-sm-4 themed-grid-col">Address : {{.client.Address}}</div>
    <div class="col-6 col-sm-4 themed-grid-col">Rented books count : {{.client.BookItems | len}}</div>
  </div>

</div>
{{ template "footer.html" }}