<div class="d-flex justify-content-center align-items-center flex-column"
     style="height:100vh;">
        <div style="font-size: 58px;">home</div>
        <div class="sammary">
                <span class="badge text-bg-primary">book types <span class="badge text-bg-secondary">
                                {{ .booksCount }}</span></span>
                <span class="badge text-bg-warning">book items <span class="badge text-bg-secondary">
                                {{ .bookItemsCount }}</span></span>
                <span class="badge text-bg-success">clients <span class="badge text-bg-secondary">
                                {{ .clientsCount }}</span></span>
        </div>

</div>